<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zyongjun.com.windhike.tuto.easytouch" >
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service android:name="com.windhike.tuto.easytouch.service.DrawMenuService"/>

        <service
            android:name=".ScreenRecorder"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"/>
    </application>
</manifest>
